Imbalance Dataset : 900:0
                    100:1

In [ ]:
import numpy as np
import pandas as pd

In [12]:
np.random.seed(123)

n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [13]:
n_class_0,n_class_1

(900, 100)

In [14]:
##CREATE MY DATAFRAME WITH IMBALANCE DATASET

class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0]*n_class_0
})

class_1= pd.DataFrame({
    'feature1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target': [1]*n_class_1
})

# Combine dataframes
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [16]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [20]:
## UPSAMPLING
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [21]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42
         )

In [24]:
df_minority_upsampled.shape

(900, 3)

In [25]:
df_minority_upsampled.head()

     feature1  feature2  target
951  1.125854  1.843917       1
992  2.196570  1.397425       1
914  1.932170  2.998053       1
971  2.272825  3.034197       1
960  2.870056  1.550485       1

In [26]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [27]:
df_upsampled.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [28]:
df_upsampled.tail()

     feature1  feature2  target
952  1.188902  2.189189       1
965  3.919526  1.980541       1
976  2.810326  3.604614       1
942  3.621531  2.168229       1
974  1.160887  2.489203       1

In [29]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64